LBORO_USERNAME='jam0612'
LBORO_PASSWORD='YourSecurePassword!'

# An email address that allows the person running the my-my-lboro instance to be contacted if required.
# See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/From
CONTACT_EMAIL='someone@lunet.lboro.ac.uk'
